* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eingabe{
    margin:10px;
}

@media(max-width: 600px){
    .eingabe{
        width: 90%;
    }
}

