* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p1{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 39%;
}

p {
    box-sizing: border-box;
    border-width: 20px;
    font-family: 'PT Sans', sans-serif;
    
}