* {
  margin: 0px;
  padding: 0px;
}

body{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.title{
  font-family: 'Roboto Slab', serif;
  font-size: 250%;
  display: flex;
  justify-content: center;
}

.inputs{
  
  display: flex;
  flex-direction: column; 
  align-items: center;  
  justify-content: center;
  
}

.input{
  margin: 10px;

}

.button{
  border-radius: 4px;
  font-display: center;
  text-align: center;
  margin-top: 20px;
  display: inline-flex;
  width: 120px; 
  cursor: pointer; 
}

.button:hover{
  border-radius: 30px;
  background-color: lightskyblue;

}

.output{
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}


